<h2 class="ui center aligned icon header">
  <i class="circular inverted green users icon"></i>
  Chats
</h2>

<div class="ui two column grid">
    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui vertical menu">
                    <a class="active item green">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui small feed">
            <div class="ui fluid raised card chatbox">
                <div class="content" id="message-overflow">
                    <div class="ui feed" id="message-container">
                        <%= render @messages %>
                    </div>
                </div>
                <div class="extra content">
                    <%=form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path,remote: true) do |f| %>
                        <div class="field">
                            <div class="ui left icon input">
                            <%= f.text_field :body, placeholder: "Type Here..."%>
                                <i class="users icon active green"></i>
                                <div class="ui submit icon" style="cursor: pointer">
                                    <%= f.button '<i class="location circle arrow green large chat-icon icon"></i>'.html_safe, class: "button_design"%>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>